
{% liquid
  
    assign row_reverse_class = '' 
    if section.settings.controls-position=='right'
    assign row_reverse_class = 'row-reverse'
    
    endif
    
    %}

<section>
    <div class="{{'lnw-collection-row ' | append:row_reverse_class}}">
        <div class="title-wrapper">
            <div class="slider-controls">
                <div class="prev-slide slide-nav"><img src="{{ 'arrow-left.png' |asset_url }}" alt="carousel-previous-icon"></div>
                <div class="next-slide slide-nav"><img src="{{ 'arrow-right.png'|asset_url }}" alt="carousel-previous-icon"></div>
            </div>
            <div class="collection-title">
                {{section.settings.collection-slider.title}}
            </div>
            
        </div>
        <div id="slider-container">
            <div id="lnw-product-list" class="owl-carousel lnw-collection-slider">
                {% for product in section.settings.collection-slider.products %}
                    <a href="{{ product.url }}">
                      <div class="carousel-item" >
                        
                        <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" style="height: calc(100% - 60px);" />
                        <div class="carousel-item-footer">
                            <div class="product-title">{{product.title}}</div>
                            <div class="product-price">{{product.price | money_with_currency}}</div>
                        </div>
                      </div>
                  </a>
                  {% endfor %}
              </div>
        </div>
    </div>
  </section>
  
  
  {% schema %}
  {
      "name": "LNW Collecion Slider",
      "settings": [{
          "id": "collection-slider",
          "label": "collection",
          "type": "collection"
      },
      {
        "type": "select",
        "id": "controls-position",
        "label": "Controls Position",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          }
          
        ],
        "default": "left"
      }
      ],
      "presets": [{
          "name": "LNW Collection",
          "category": "LNW "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}

    .lnw-collection-row .owl-carousel .owl-item img{
      max-width:338px;
    }

  #slider-container{
    overflow-x:hidden;
    flex:3
  }

  .lnw-collection-slider{
    width:100vw;
  }

  .lnw-collection-row {
    margin: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
}

 /* the slides */
 .slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

    .row-reverse .slider-controls{
      margin: 0px 20px;
      align-self: flex-start;
      
    }

.slider-controls {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: inherit;
    border: 1px solid black;
    border-radius: 5px;
    align-self: flex-end;
  margin: 0px 20px;
  
    
  width:72px;
  height:32px;
  align-items:center;
}

.slick-arrow {
    cursor: pointer;
    padding: 0px 5px;
}


    .carousel-item-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      margin-top: 12px;
      
}
    

.title-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:space-between;

  
  
}
.collection-title {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
  margin-right:20px;
  
}

    .product-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #14222D;
}
.lnw-collection-slider .owl-nav{

    display:none;
}

    @media screen and (max-width:780px){
      .slider-controls{
        margin:0px;
        margin-bottom: 10px;
      }
      .lnw-collection-row .owl-carousel .owl-item img{
      max-width:165px;
    }
      
    }

  {% endstylesheet %}
  
  {% javascript %}

  $('.lnw-collection-slider').each(function( index ) {
    var slider = $( this ).owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoWidth:true,
      autoHeight: false,
        responsive:{
            0:{
                items:2
            },
            475:{
                items:2
            },
            1200:{
                items:4
            },
            1600:{
                items:6
            }
        }
    });
  
    $( this ).closest('.shopify-section').find('.prev-slide').click(function() {
        slider.trigger('prev.owl.carousel');
    })
    $( this ).closest('.shopify-section').find('.next-slide').click(function() {
        slider.trigger('next.owl.carousel');
    })
  });
  
var slideHeight = $('.carousel-item img').first().height();
if (window.innerWidth  > 760) {
    if($('.lnw-collection-row').hasClass('row-reverse')==false){
        $('.lnw-collection-row').addClass('row-reverse')
    }
    $('.title-wrapper').height(slideHeight);
 }
 else{
    if($('.lnw-collection-row').hasClass('row-reverse')){
        $('.lnw-collection-row').removeClass('row-reverse')
    }
 }
    


window.addEventListener('resize', function(event) {
    var slideHeight = $('.carousel-item img').first().height();
    if (window.innerWidth  > 760) {
        $('.title-wrapper').height(slideHeight);

     }
     console.log(window.innerWidth);

}, true);
  {% endjavascript %}